#!/usr/bin/env bash
echo "Exporting resources from ${BASH_SOURCE[0]}"

SARPATH="/home/jandreu/Development/git/ACS/sardana/scripts"
SARPYTHONPATH="/home/jandreu/Development/git/ACS/sardana/src"
TAUPATH="/home/jandreu/Development/git/ACS/taurus/scripts"
TAUPYTHONPATH="/home/jandreu/Development/git/ACS/taurus/lib"

# export local sardana and taurus environment paths
export PATH=$SARPATH:$TAUPATH:$PATH
export PYTHONPATH=$SARPYTHONPATH:$TAUPYTHONPATH:$PYTHONPATH
