#!/usr/bin/env bash
#########################################################################
# Configuring EDNA enviromental variables @ ALBA
#########################################################################
export EDNA_HOME=/home/jandreu/Development/EDNA/EDNA-MX
export EDNA_SITE=ALBA
export PATH=$EDNA_HOME/kernel/bin:$PATH
#alias edt=$EDNA_HOME/kernel/bin/edna-test-launcher.py
#alias edna-launcher=$EDNA_HOME/kernel/bin/edna-plugin-launcher.py

######################
# Software resources #
######################
source /home/jandreu/sw/etc/bash_edna.rc

echo "EDNA-ALBA Environment exported!"


